/*------------------------------------*\
    RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
    v2.0b1 | 201101
    NOTE:WORK IN PROGRESS WORK IN PROGRESS
    USE WITH CAUTION AND TEST WITH ABANDON */

    @font-face {
      font-family:'Suisse';
      src: url('/assets/fonts/SuisseIntl-Regular.woff2') format('woff2'),
          url('/assets/fonts/SuisseIntl-Regular.woff') format('woff');
      font-weight: 400;
      font-style: normal;
  }

  /* @font-face {
      font-family: 'Akzidenz';
      src: url('/assets/fonts/akzidenzgrotesk-regular-webfont.woff2') format('woff2'),
          url('/assets/fonts/akzidenzgrotesk-regular-webfont.woff') format('woff');
      font-weight: 400;
      font-style: normal;
  }

  @font-face {
      font-family: 'Akzidenz';
      src: url('/assets/fonts/akzidenzgrotesk-italic-webfont.woff2') format('woff2'),
          url('/assets/fonts/akzidenzgrotesk-italic-webfont.woff') format('woff');
      font-weight: 400;
      font-style: italic;
  }

  @font-face {
      font-family: 'Akzidenz';
      src: url('/assets/fonts/akzidenzgrotesk-medium-webfont.woff2') format('woff2'),
          url('/assets/fonts/akzidenzgrotesk-medium-webfont.woff') format('woff');
      font-weight: 600;
  } */


  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  font-weight:400;
  font:inherit;
  vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
  display:block;
}
body{
  line-height:1;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-text-stroke:1px transparent;
}
ol,ul{
  list-style:none;
}
blockquote,q{
  quotes:none;
}
blockquote:before,blockquote:after,
q:before,q:after{
  content:’’;
  content:none;
}
/* remember to define visible focus styles!
:focus{
  outline:?????;
} */

/* remember to highlight inserts somehow! */
ins{
  text-decoration:none;
}
del{
  text-decoration:line-through;
}

table{
  border-collapse:collapse;
  border-spacing:0;
}

/* box-sizing reset */

html {
box-sizing: border-box;
}
*, *:before, *:after {
box-sizing: inherit;
}

button {
   background:none!important;
   color:inherit;
   border:none;
   font: inherit;
   color:#2F3140;
   cursor: pointer;
   text-decoration: none;
   border-radius:40px;
   border:2px solid rgba(47,49,64,255);
   text-align: center;
   padding:6px 20px;
  margin:20px 0 0 82px;
}

button:hover{
color:#4700B2;
border:2px solid #4700B2;

}

/*------------------------------------*\
  $MAIN
\*------------------------------------*/

body{
font-family:'Suisse', serif;
font-weight: 400;
line-height:1.3;
font-size:23px;
color: #E0E0E0;
max-width:800px;
background-color: #242832;
}

p{
text-indent: 3em;
}


pre{
text-align: center;
}

a,
a:link,
a:visited,
a:hover,
a:active{
    text-decoration: none;
}

a{
color:#BB6BD9;
text-decoration: none;
}

a:hover{
color:#EDBCFF;
}



ul{
list-style: none;
/* display:inline-block;
padding-left:82px; */
}

.contactlink{
display:inline;
}

.workitem{
padding-bottom:80px;
}

.main{
margin:0 auto 20px;
padding:0 20px;
}

.journal{
background-color: #C8C8C8;
padding-bottom:80px;

}

.intro{
  padding:0 0 60px 0;
}

.sectiontitle{
text-align: left;
padding:16px 0 20px;
}




header{
display:flex;
justify-content: space-between;
}


.journal h1{
font-style: italic;
}

.homelink a{
  color:#E0E0E0;
display:inline;
position: relative;
text-decoration: none;
}


img{
align-self:baseline;
position:relative;
max-width: 100%;
}


li{
line-height:1;
}

ol{
list-style:decimal inside none;
border-top:;
border-bottom:;
}

ol > li {
  line-height:1.5;
  padding-bottom:12px;
}

/* .post p, .post figure, .post ol{
grid-column: col-start 1 / span 8;
} */

/* 
.post p, .post ol{
grid-column: col-start 1 / span 12;
}

.postimage img, .postimage video{
grid-column: col-start / span 12;
}

.postimage, .postimagebig em{
color:#949494;
}

.postimage em{
grid-column: col-start 1/ span 10;
}

.post .postimagebig{
grid-column: col-start / span 12;
}

.post p img, .post p video{
width:100%;
}

.leftcolumn{
grid-column: col-start 1 / span 12;
}

.intro, .postinfo{
padding-bottom:24px;
}

.journalpost{
  border-bottom: 1px solid #A6A6A6;
} */



.post, .postimage, .projects, .journalpost{
margin:24px 0 30px;
}

/* .post{
  /* max-width:626px; */
  border-bottom: 1px solid #A6A6A6;
  padding-bottom:40px;
  margin-bottom:60px;
}

.postimage, .postimagebig{
  grid-column: col-start 1 / span 12 !important;
  margin:24px 0 0;
  border-bottom: 1px solid #E8E8E8;
  padding-bottom:12px;

} */



.journalimages img{
width:100%;
}

.portrait img{
width:60px!important;
display:inline;
margin-right:8px;
}

.portrait{
display:inline;
}

/* p{
margin-bottom:24px;
} */

.secondparaabout{
margin-top:24px;
}

/* .post, .postimage, .projects, .journalpost{
display: grid;
grid-gap: 0px;
grid-row-gap: 24px;
}

.journalcontent{
grid-column: col-start 1 / span 12;
grid-row: 3;
margin-bottom:24px;
}

.journalimages{
grid-column: col-start 1 / span 12;
grid-row: 2;
}

.post{
grid-row-gap: 18px;
} */

.journalcontent p{
padding-bottom:12px;
}



.competitoranalysis{
  grid-column: col-start 1 / span 12;
  border-bottom: 1px solid #E8E8E8;
  padding-bottom:24px;
  margin-bottom:24px;
}

.competitoranalysis > li > p{
  font-size:1.25rem;
}

.competitoranalysis > li{
  padding-bottom:12px;
}

