<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ site.title }}</title>
	<link rel="stylesheet" href="/assets/main.css">
  <!-- <script type="text/javascript" src="/assets/outline.js-master/outline.js" async></script> -->
  <script type="text/javascript" src="/assets/scripts.js" async></script>

</head>
<body>



	<section class="main">

<header class="sectiontitle postpage">
  <h1 class="homelink"><a href="/index.html">{{ site.title }}</a></h1>
	<p class="contactlink"><a href="mailto:vfhwang@gmail.com">vfhwang@gmail.com</a></p>
</header>


<div class="post">
{{ content }}

</div>
<!-- <p>Check out <a href="/">some things I’ve worked on</a></p> -->
<footer>Victor Hwang 2018</footer>

</section>

{% include lazyload.html %}

</body>
</html>
