<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ site.title }}</title>
	<link rel="stylesheet" href="/assets/style.css">
  <!-- <script type="text/javascript" src="/assets/outline.js-master/outline.js" async></script> -->
  <script type="text/javascript" src="/assets/scripts.js" async></script>

</head>

<body>
<!-- <div class="pagewrapper"> -->
<div class="page">

	<header class="sectiontitle">
	  <h1 class="homelink">{{ site.title }}</h1>
	  <p class="contactlink"><a href="#">Contact</a></p>
	</header>


{{ content }}







</div>
<!-- </div> -->

<!-- <footer>
<span class="decorativetext footerdesktop" aria-hidden="true"><pre>
.-. .-.-..---. .---. .----..----.    .-. .-.-. . .-. .--. .-. .-..---.
| | | | /  ___{_   _/  {}  | {}  }   | {_} | |/ \| |/ {} \|  `| /   __}
\ \_/ | \     } | | \      | .-. \   | { } |  .'.  /  /\  | |\  \  {_ }
 `---'`-'`---'  `-'  `----'`-' `-'   `-' `-`-'   `-`-'  `-`-' `-'`---'

 <p>2018</p></pre>
</span>


<span class="decorativetext footermobile" aria-hidden="true"><pre>
.-. .-..-. .---.  .---.  .----. .----.
| | | || |/  ___}{_   _}/  {}  \| {}  }
\ \_/ /| |\     }  | |  \      /| .-. \
 `---' `-' `---'   `-'   `----' `-' `-'

 <p>2018</p></pre>
</span>
</footer> -->


</body>
</html>
