<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ site.title }}</title>
	<link rel="stylesheet" href="/assets/main.css">
  <!-- <script type="text/javascript" src="/assets/outline.js-master/outline.js" async></script> -->
  <script type="text/javascript" src="/assets/scripts.js" async></script>


	<!-- favicon -->
	<link rel="apple-touch-icon" sizes="57x57" href="/assets/favicon.ico/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/assets/favicon.ico/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/assets/favicon.ico/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/assets/favicon.ico/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/assets/favicon.ico/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/assets/favicon.ico/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/assets/favicon.ico/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/assets/favicon.ico/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon.ico/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/assets/favicon.ico/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon.ico/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon.ico/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon.ico/favicon-16x16.png">
<link rel="manifest" href="/assets/favicon.ico/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/assets/favicon.ico/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

	{% seo %}

</head>
<body>

	<div id="barba-wrapper">
		<div class="barba-container">

<section class="main">


	<header class="sectiontitle">
	  <h1 class="homelink">{{ site.title }}</h1>
	</header>



	<p class="intro">I'm a designer, currently making services and products with Farewill. </p>
	<p class="intro">I help people, organisations and things solve problems. </p>
	<p class="intro">I believe in thinking through making.</p>
	<p class="intro"><a href="/about">More information</a></p>

	<img class="handaxe" src="assets/images/home/handaxe.png">

	<section class="worknote">
		<div class="worklogo farewill">
			<img src="/assets/logos/farewill.svg" alt="Farewill logo">
		</div>
		<div class="details">
		<h3>How do you change the way the world deals with death</h3>

		<ul>
			<li>A new service for couples to get their wills done together. This now accounts for over half of wills revenue. <a href="https://medium.com/farewill/wills-for-couples-a-look-at-how-design-works-at-farewill-f800d377d503">Read blog post</a></li>
			<li>Redesigned sign up process for getting a will. Resulting in 60% more people starting to write their will.</li>
			<li>Led the consolidation of our three services - Wills, Probate and Cremation - into one website. A key step in making Farewill the first brand for death.</li>
			<li>Read more about what I do at Farewill in my <a href="/weeknotes">weeknotes</a></li>
		</ul>
		</div>
	</section>


	<img class="handaxe" src="assets/images/home/handaxe2.png">

	<section class="worknote">
		<div class="worklogo parliament">
			<img src="/assets/logos/UKparliament.svg" alt="UK Parliament logo">
		</div>
		<div class="details">
		<h3>How do you make Parliament and democracy easier to engage with</h3>

		<ul>
			<li>Research and design of new pages for MPs and Lords.</a></li>
			<li>Development of the first design system, building out of the first visual identity for UK Parliament (working with <a href="https://someoneinlondon.com/projects/the-first-visual-identity-for-uk-parliament">Someone)</a>.</li>
			<li>Release of the first cohesive portraits of MPs and Lords, wholeheartedly used and abused by the british press. <a href="https://pds.blog.parliament.uk/2017/08/09/mps-portraits-designing-for-great-content/">Read blog post</a></li>
		</ul>
		</div>
	</section>


	<img class="handaxe" src="assets/images/home/handaxe4.png">
	
	<section class="worknote">
		<div class="worklogo bbc">
			<img src="/assets/logos/BBC.svg" alt="BBC logo">
		</div>
		<div class="details">
		<h3>In a post-broadcast world, what interface should a public broadcaster have</h3>

		<ul>
			<li>Redesign of the iPlayer homepage. Combining data, research and editorial expertise to futureproof the front page of a service used by millions. </li>
			<li>Investigating new ways that the weather could be communicated.</li>
			<li>Development of a styleguide for how notifications are written across the BBC.</li>
		</ul>
		</div>
	</section>

	<img class="handaxe" src="assets/images/home/handaxe3.png">


	<div class="colophon"><p>Each divider on this website is a late neolithic flint axe<a href="https://commons.wikimedia.org/w/index.php?title=Special:Search&limit=250&offset=0&profile=default&search=flint+axe+head&advancedSearch-current=%7B%7D&ns0=1&ns6=1&ns12=1&ns14=1&ns100=1&ns106=1&searchToken=92um7qb8uftwzbvvannjenis8">(Source)</a>.</p>
		<p>Thinking through making.</p></div>
</section>



	</div>

</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/barba.js/1.0.0/barba.min.js"></script>
	<script src="/assets/init.js" type="text/javascript"></script>



</body>
</html>
