<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ site.title }}</title>
	<link rel="stylesheet" href="/assets/main.css">
  <!-- <script type="text/javascript" src="/assets/outline.js-master/outline.js" async></script> -->
  <!-- <script type="text/javascript" src="/assets/scripts.js" async></script> -->


	<!-- favicon -->
	<link rel="apple-touch-icon" sizes="57x57" href="/assets/favicon.ico/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/assets/favicon.ico/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/assets/favicon.ico/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/assets/favicon.ico/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/assets/favicon.ico/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/assets/favicon.ico/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/assets/favicon.ico/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/assets/favicon.ico/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon.ico/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/assets/favicon.ico/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon.ico/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon.ico/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon.ico/favicon-16x16.png">
<link rel="manifest" href="/assets/favicon.ico/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/assets/favicon.ico/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

	{% seo %}

	<script data-ad-client="ca-pub-7484900949797874" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	
</head>
<body data-barba="wrapper">


<section class="main">


		<header class="sectiontitle">
			<h1 class="homelink"><a href="/index.html">{{ site.title }}</a></h1>
		  </header>


<main data-barba="container" data-barba-namespace="home">
		

	<section>
		<div class="bit">
			<p>This is my personal site. You can see my design portfolio at <a href="http://vcfh.work">vcfh.work</a>.</p>
		</div>		
		<div class="bit">
		<p>I write {% for post in site.categories.weeknotes limit:1 %}<a href="{{ post.url }}">occasional notes</a>{% endfor %} about what I've been up to. </p>
		</div>
		<a href="mailto:{{site.email}}">{{site.email}}</a>
	</section>

	<img class="bitmap" src="assets/images/home/handaxe3.png">

	<section>
		<h2 class="sectiontitle">Links</h1>

			<ul>
				<li><a href="http://vcfh.work">Portfolio</a></li>
				<li><a href="/weeknotes">Weeknotes</a></li>
				<li><a href="https://twitter.com/{{site.twitter.username}}">Twitter</a></li>
			</ul>
	</section>

	<img class="bitmap" src="assets/images/home/handaxe4.png">

	<section>
		<h2 class="sectiontitle">Websites I've made for friends</h1>

			<ul class="two-column-list">
				<li><span><a href="https://louiscaseley.com/">louiscaseley.com</a></span>for Louis</li>
				<li><span><a href="https://bricabrac.netlify.app/">bricabrac.info</a></span>for Alice-Mae and Lauren</li>
				<li><span><a href="http://isobelirwin.com/">isobelirwin.com</a></span>for Issy</li>
				<li><span><a href="http://clockface.netlify.app/">clockface.com</a></span>for Matthew</li>
				<li><span><a href="http://milliethebarber.netlify.app/">milliethebarber.co.uk</a></span>for Millie</li>
				<li><span><a href="http://hinokicandle.co">hinokicandle.co</a></span>for James</li>

			</ul>
	</section>



	<img class="bitmap" src="assets/images/home/handaxe.png">

	<div class="colophon tinytext">
		<p>Each divider on this website is a late neolithic flint axe. <a href="https://commons.wikimedia.org/w/index.php?title=Special:Search&limit=250&offset=0&profile=default&search=flint+axe+head&advancedSearch-current=%7B%7D&ns0=1&ns6=1&ns12=1&ns14=1&ns100=1&ns106=1&searchToken=92um7qb8uftwzbvvannjenis8">(Source)</a></p>
	</div>

	</div>

</main>
</section>






</body>
</html>
