<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ site.title }}</title>
	<link rel="stylesheet" href="/assets/main.css">
  <!-- <script type="text/javascript" src="/assets/outline.js-master/outline.js" async></script> -->
  <script type="text/javascript" src="/assets/scripts.js" async></script>

</head>
<body>


<section class="main">

	<header class="sectiontitle postpage">
	  <h2 class="homelink"><a href="/index.html">{{ site.title }}</a></h2>
		<p class="contactlink"><a href="mailto:vfhwang@gmail.com">vfhwang@gmail.com</a></p>
	</header>


<section class="post">
  <div class="postinfo leftcolumn">
		<ul><li class="bigbullet" style="color:#{{ page.colour }}"><h1 class="title">{{page.title}}</h1></li></ul><p>{{page.description}}</p>
	</div>

{{ content }}
<p>Check out <a href="/">other things I’ve worked on</a> or <a href="/about">about me</a></p>

</section>
</div>
<footer>Victor Hwang 2018</footer>


</body>
</html>
